body {
		overflow-y: hidden;
		background-color: rgb(36,36,36);
		font-family: Stolzl;
		padding: 0px;
		margin: 0px;
}

input	{
		/*color: rgb(238,238,238)*/
		color: rgb(132,38, 236);
		background-color: rgb(14,14,14);
		border:none;
}

input:focus {
		outline: none;
}

p {
		padding: 0px;
		margin: 0px;
}

ul {
	list-style: none;
	margin-left: 0px;
  padding-left: 0px;
}


#main {
		display: inline-block; 
		vertical-align: top;
		width: 60%;
}

#main > div {
		margin-left: 7%;
		margin-top: 30px;
}

#main > div > img {
	  vertical-align: bottom;
    width: 4%;
}

.green_button
{
	  background-color: rgb(8,161,102);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.green_button:hover{
		-moz-box-shadow:0 0 20px rgb(8,161,102) !important;
		-webkit-box-shadow: 4px 5px 5px rgb(8,161,102) !important;
		box-shadow: 3px 2px 0px rgb(8,161,102) !important;
}