body {
		overflow-y: hidden;
		background-color: rgb(36,36,36);
		font-family: Stolzl;
		padding: 0px;
		margin: 0px;
}

input	{
		color: rgb(238,238,238);
}

p {
		padding: 0px;
		margin: 0px;
}

ul {
	list-style: none;
	margin-left: 0px;
  padding-left: 0px;
}

#node_list {
		display: inline-block;
		vertical-align: top;
		width: 30%; 
		background-color: rgb(14,14,14);
		height: 800px;
}

#node_list > div {
		background-color: rgb(255,149,0);
		border-radius: 10px;
		margin-left: -30px;
		margin-top: 10%;
		width: 75%;
		height: 5%;
}
#node_list > div > p {
		font-size: 24px;
    margin-left: 50px;
}
#node_list img {
	margin-left: 5px;
	margin-right: 5px;
}

#all_nodes{
		list-style: none;
		color: rgb(238,238,238);
}

#main {
		display: inline-block; 
		vertical-align: top;
		width: 60%;
}

#main > div {
		margin-left: 7%;
		margin-top: 30px;
}

#main > div > img {
	  vertical-align: bottom;
    width: 4%;
}

#main > div > input {
    border: none;
    border-radius: 10px;
    padding: 5px;
}
/*    -------------------- menu ----------------------*/
.menu
{
		position:absolute;
		background-color: rgb(33,33,33);
		color: rgb(205,193,193);
		border-radius: 5px;
		z-index: 1001;
		cursor: pointer;
}
.menu > span
{
		display: inline-block;
		width: 85%;
}
.menu > button
{
		width: 15%;
		margin-right: 5%;
		background: none;
	  border: none;
}
.menu > button > img
{
		width: 100%;
}
.menu > ul
{
		list-style: none;
		margin: 5px;
		text-align: center;
}

/*    -------------------- menu ----------------------*/
#session_num {
		background-color: rgb(8,161,102);
		border: none;
		border-radius: 10px;
	  padding: 3px;
    margin-left: 5px;
	  font-size: 16px;
	  cursor: pointer;
}

#command {
	font-size: 16px;
  color: rgb(8,161,102);
	padding: 5px;
	width: 60%;

	border: none;
	border-radius: 10px;
	border-width: 1px;
	border-color: rgb(8,161,102);
	background-color: rgb(14,14,14);
}

#request_button{
		background-color: rgb(8,161,102);
		color: black;
		border:none;
		border-radius: 10px;
		cursor: pointer;
}

#data_block {
		font-size: 26px;
		color: rgb(238,238,238);
		margin: 0px;
}
#data_board {
		background-color: rgb(26,26,26);
		height: 500px;
		border-radius: 10px;
		margin-top: 15px;
}
#data > ul {
		max-height: 440px;
		overflow: auto;
		margin-block-start: 0;
		margin-block-end: 0;
		cursor: pointer;
}

#data span {
		color: rgb(250, 55, 55);
}

#data img {
		width: 5%;
    vertical-align: bottom;
}

#data_header {
		padding: 10px 20px;
		border-bottom: 1px solid red;
}

#data_header span > button {
		border:none;
		outline: none;
		background: none;
		color: rgb(8,161,102);
}
#data_header span > button:hover {
		background-color: rgb(255,149,0);
		color: black;
		cursor: pointer;
		box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.3);
		transition: 0.2s;
}